{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/security.css') }}">
{% endblock %}

{% block body %}
    <div class="auth-container">
        <div class="auth-box">
            <h2 style="text-align: center;">Login</h2>
            
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form method="post" class="login-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="_username" class="form-input" required autofocus>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="_password" class="form-input" required>
                </div>

                <div class="form-group options-row">
                    <div class="remember-me">
                        <input type="checkbox" id="remember_me" name="_remember_me">
                        <label for="remember_me">Remember me</label>
                    </div>

                    <div class="toggle-switch">
                        <input type="checkbox" id="user_type" name="_user_type" value="professor">
                        <label for="user_type" class="toggle">
                            <span class="toggle-student">Student</span>
                            <span class="toggle-professor">Professor</span>
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn-submit">Login</button>
            </form>

            <div class="auth-links">
                <a href="{{ path('app_register') }}">Don't have an account? Register now</a><br>
                <a href="{{ path('app_forgot_password') }}">Forgot password?</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/security.js') }}"></script>
{% endblock %} 